#mainWindow {
    background-color: #00031f;
}

QWidget {
    border: 1px solid white
}

#homePage {
    border: 1px solid red;
}

#chessboard {
    border: 1px solid green;
}

#card {
    background-color: #1d2744;
    border-radius: 12px;
}